<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Title</title>
</head>
<style>
    .players{
        margin-top: 30px;
        width: 500px;
    }
    .players span{
        display: inline-block;
        padding: 5px 10px;
        border: 1px solid #43bfc7;
        font-size: 16px;
        border-radius: 5px;
        color: #43bfc7;
        margin-right: 10px;
        margin-bottom: 15px;
        cursor: pointer;
    }
    .players .active{
        background-color: #43bfc7;
        color: white;
    }
</style>
<body>
<div class="players">
    <span class="active">凌&nbsp;&nbsp;&nbsp;路</span>
    <span>邹智睿</span>
    <span>郝&nbsp;&nbsp;&nbsp;鑫</span>
    <span>腿&nbsp;&nbsp;&nbsp;哥</span>
    <span>大&nbsp;&nbsp;&nbsp;哥</span>
    <span>凌&nbsp;&nbsp;&nbsp;路</span>
    <span>邹智睿</span>
    <span>郝&nbsp;&nbsp;&nbsp;鑫</span>
    <span>腿&nbsp;&nbsp;&nbsp;哥</span>
    <span>大&nbsp;&nbsp;&nbsp;哥</span>
    <span>凌&nbsp;&nbsp;&nbsp;路</span>
    <span>邹智睿</span>
    <span>郝&nbsp;&nbsp;&nbsp;鑫</span>
    <span>腿&nbsp;&nbsp;&nbsp;哥</span>
    <span>大&nbsp;&nbsp;&nbsp;哥</span>
</div>
</body>
</html>